.header {
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-color: #e2e8f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 4px 6px 4px 6px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #edf2f7;
  border-radius: 8px;
  transition: background-color 0.6s ease;
}

.btn svg {
  color: var(--primary);
}

.btn:hover {
  background-color: #dfdfdf;
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 4px;
}
