.input {
  width: 60%;
  height: 2.5rem;
  border: 2px solid #091e4224;
  border-radius: 16px;
  padding: 5px 0 5px 15px;
  outline: none;
  font-size: 1rem;
  transition: border-color 0.8s ease;
}

.input:focus {
  border-color: var(--primary);
}
