.task-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardBanner {
  composes: task-flex;
  width: 650px;
}

.cardDetailHeader {
  min-height: 32px;
  padding: 8px 52px 8px 56px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 90%;
}

.windowTitle {
  width: 100%;
}

.cardDescription {
  composes: task-flex;
  padding-left: 55px;
  align-items: flex-start;
}

.descriptionTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}
